#wrapper {
  width: 960px;
  padding: 0;
  border: 3px solid #0000ff;
  background-color: #ffffff;
  margin: 1em auto;
  padding: 0em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 75px;
  padding: 0px;
}
#wrapper1 {
  width: 960px;
  padding: 0;
  border: 1px solid #0000ff;
  background-color: #ffffff;
  margin: 10 px;
  padding: 0em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background color:#0000ff;
}
.spanstyle { color:#ff0000;
}
h1 {color: #b3d9ff;

  font-family: helvetica;font-style: italic;
  font-weight: normal;
}

h2{ text-decoration:none;
  color: #0000ff;
font-family:helvetica ;font-style:normal;
font-weight: bold;
margin: 20px;

}

.floatimage {
  float: left;
  border: 1px solid #0000ff;
  margin: 10px;
  background-color: #ffffff;
  width: 400px;
}
nav ul {
  color: #b3d9ff;
  background-color:#4da6ff;
  list-style-type: none;
  margin: 10;
  padding: 0;
}


nav li {
  display: grid;
  padding: 12px;
  background-color: #4da6ff;
  margin: 10px;
  background-image: linear-gradient(to bottom, #005c99,#80ccff, #1aa3ff,);
}
nav li a:hover {
  background-color: #990000;

   background-image: linear-gradient(to bottom, #005c99,#80ccff, #1aa3ff,);
}

header {border: 1px solid blue;
  grid-column: span 12;
  border: border: 1px solid #0000ff;
  background-color: #0000ff;

}

nav a {
 color:#b3d9ff;
 text-decoration:none;
 font-family:helvetica ;
text weight: bold;}

nav a:visited {
 color: #ffffff;
 text-decoration:none;

}

nav li {
  display: inline-block;
  border: 1px solid #0000ff;
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(to bottom, #0000ff,   #1aa3ff, #80ccff,);
}

nav li a {
  color: #ffffff;
   display: block;
   padding: 10px;
   background-color;
   text-decoration: none;
     background-color: : linear-gradient(to bottom, #0000ff,   #1aa3ff, #80ccff,);
}
nav a:hover {
 color: #0000ff;
 text-decoration: underline;
 background-image: linear-gradient(to bottom, #0000ff,   #1aa3ff, #80ccff,);
}

nav {border: 0px solid blue;
  grid-column: span 3;
}


main {border: 0px solid blue;
  grid-column: span 12;
  margin:10px
}

body {
background-color: #6f7370;
}
footer {
  background-color:#ff0000;
padding: 10px 10px 10px 10px;
margin: 7px 0px 0px 0px;
  grid-column: span 12;
}

.textjustify {
text-align: justify;
}
p { font-family:helvetica;
  font-weight:bold;
  margin: 10px;
  padding: 20px;
}

.p1 { font-family:helvetica; font-weight: normal;
  }

.p2 {
  clear: both;
  font-weight: normal;
}

 a {
 color: #b3d9ff;
 text-decoration:none;
 font-family:helvetica;
font-weight: normal;}

 a:visited {
 color: #b3d9ff;
 text-decoration:underline;
 font-weight:normal;
}
 a:hover {
 color: #00ff00;
 text-decoration: underline;
}

.borderbottom {
  border-bottom: 3px solid #0000ff;
  padding-bottom: 7px;
}

.bordertop {
  border-top: 3px solid #0000ff;
  background-color:#ff0000;
}

.boxmodel2 {
  background-color: #ff0000;
border: 3px solid #000000;
margin: 0px;
}
